.Rproj.user
.Rhistory
.snakemake/
logs/
bowtie_results/
*fastq.gz
*fastq
*bam
data/hic/rawdata
data/hic/hic_results/matrix/**/*matrix
data/hic/hic_results/matrix/**/*ord.bed
data/hic/hic_results/matrix/**/iced/
data/hic/hic_results/data/**/**
!data/hic/hic_results/data/**/*.mergestat
data/hic/hicpro*
