.Rproj.user
.Rhistory
.snakemake/
logs/
bowtie_results/
*fastq.gz
*fastq
*bam
*tar.gz
*bigwig
data/hic/rawdata
data/hic/hic_results/matrix/
data/hic/hic_results/data/
!data/hic/hic_results/data/**/*.mergestat
data/hic/hicpro*
output/MaxHiC
*gencode*
